<%= simple_form_for(@score) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item_score %>

  </div>

  <div class= "form-inputs">
  	<%= f.input :type, collection: Score.types.map {|t|  [t.humanize, t.camelcase]}, {}, disabled: @type != "Score" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
