<p id="notice"><%= notice %></p>
<h1>Hi, I'm a <%= @score.type %></h1>
My score is <%= @score.item_score %>
<p>
  <strong>Item score:</strong>
  <%= @score.item_score %>
</p>

<p>
  <strong>Type:</strong>
  <%= @score.type %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
